<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    sss8998989898
    <script src="/js/index.js" charset="UTF-8"></script>
</body>
</html>