<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<body>
<script src="//localhost:35729/livereload.js?snipver=1"></script>
    <script src="/js/index.js" charset="UTF-8"></script>
</body>
</html>